/* Reset de padding e margens de todos os elementos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Inclui o padding e a borda nas dimensões do elemento */
}

/* BODY STYLES */
body {
  background-color: #ffffff; /* Cor de fundo */
  font-family: 'Barlow Condensed', sans-serif;
}

/* Estilo do container centralizado */
.container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  min-height: auto; /* Altura mínima da tela */
}

/* Estilo do card */
.card {
  margin: 15% auto;
  padding: 80px 100px;
  height: 730px;
  max-width: 800px;
  width: 60%;
  background-color: white;
  border-radius: 25px;
  border: 5px solid #115089;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

/* Estilo do título no card */
.card h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #000000;
  margin-left: -68px;
  margin-top: -25px;
  margin-bottom: 10px;
}

/* Estilos gerais para inputs */
input {
  width: 100%;
  max-width: 800px;
  padding: 10px 60px;
  border-radius: 7px;
  margin-bottom: 15px;
  border: 1px solid #115089;
  margin-left: 20px;
  font-size: 1.1em;
  background-color: #ffffff;
}

/* Estilos de labels */
label {
  margin-left: 20px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.2em;
  color: #000000;
  margin-bottom: 5px;
  display: block;
}

/* Container para inputs com imagens */
.input-container {
  display: flex;
  align-items: center;
  margin: auto 20px;
}

/* Estilo da imagem dentro do input */
.input-image {
  margin-right: 40px;
  height: auto;
  max-height: 270px;
  width: 60%;
  max-width: 35%;
}



.option {
  display: flex;
  justify-content: flex-end;  /* Alinha os itens à direita */
  align-items: center;        /* Alinha verticalmente */
  gap: 10px;                  /* Ajusta o espaço entre o radio button e a label */
  margin-bottom: 14px;
}


/* Ajuste do botão de rádio */
.form-check-input {
  margin: 0;
  padding: 0;
  width: 15px;                /* Ajuste para definir um tamanho fixo para o botão de rádio */
  height: 20px;               /* Define uma altura fixa */
  vertical-align: middle;     /* Garante que o botão de rádio se alinha verticalmente com a label */
}

/* Ajuste da label */
.form-check-label {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1em;
  color: #000000;
  white-space: nowrap;
  display: inline-block;
  line-height: 20px;          /* Garante o alinhamento da label com o botão de rádio */
  margin-left: 5px;           /* Ajusta o espaço entre o botão de rádio e a label */
}




/* Container do botão */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

/* Estilo do botão */
#proximo {
  font-size: 1.2em;
  margin: 0 auto;
  padding: 10px 80px;
  border-radius: 5px;
  border: 2px solid #115089;
  background-color: #115089;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  width: 320px;
  max-width: 1000px;
  font-family: "Barlow Condensed", sans-serif;
}

#proximo:hover {
  transform: scale(1.05);
}



@media (max-width: 1100px) {

  .card {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  input{
    width: 220px;  /* Aumentando a largura do input */

  }

  .input-image {
    margin-bottom: 20px;

    margin-top: 10px;
  }
  .input-container {
    align-items: center;
    margin-top: 20px;
    margin-left: -40px;
    width: 100%;
  }
}

@media (max-width: 1000px) {

  .card {
    display: flex;
    flex-direction: column;
    padding: 90px 200px;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  input{
    width: 220px;  /* Aumentando a largura do input */

  }
  .input-image {
    margin-bottom: 20px;
    max-width: 45%;
    margin-top: 10px;
  }}

  @media (max-width: 935px) {
  .card {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .card h1 {
    font-size: 28px;
    margin-left: -30px;
    margin-top: 10px;
    text-align: center;
  }

  .input-container {
    display: flex;
    flex-direction: column; /* Coloca os inputs na vertical */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }

  .input-image {
    margin-bottom: 20px;
    max-width: 60%; /* Aumentando o tamanho máximo da imagem */
    margin-top: 10px;
    display: block;
    margin-left: auto;  /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
  }

  input {
    width: 80%;  /* Aumentando a largura do input */
    max-width: 500px;  /* Limite para evitar que o input fique muito largo */
    padding: 12px;
    margin-left: 0;
    text-align: center;
    justify-content: center;
  }

  label {
    margin-left: 0;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #proximo {
    width: 90%;
    max-width: 100%;
    font-size: 1em;
    padding: 10px;
    text-align: center;
  }
}
@media (max-width: 935px) {
  .card {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .card h1 {
    font-size: 28px;
    margin-left: -30px;
    margin-top: 10px;
    text-align: center;
  }

  .input-container {
    display: flex;
    flex-direction: column; /* Coloca os inputs na vertical */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }

  .input-image {
    margin-bottom: 20px;
    max-width: 60%; /* Aumentando o tamanho máximo da imagem */
    margin-top: 10px;
    display: block;
    margin-left: auto;  /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
  }

  input {
    width: 140%;  /* Aumentando a largura do input */
    max-width: 500px;  /* Limite para evitar que o input fique muito largo */
    padding: 12px;
    margin-left: 0;
    text-align: center;
    justify-content: center;
  }

  label {
    margin-left: 0;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #proximo {
    width: 90%;
    max-width: 100%;
    font-size: 1em;
    padding: 10px;
    text-align: center;
  }
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
  .card h1 {
    font-size: 32px;
    margin-left: -40px;
  }

  .form-check-input {
    transform: scale(1);
    text-align: center;
    align-items: center;        /* Alinha verticalmente */
    justify-content: flex-end;

  }

  input {
    text-align: center;
    justify-content: center;
    width: 130%; /* Aumentando ainda mais a largura do input */
    padding: 12px;
  }
}

/* Responsividade para telas menores que 748px */
@media (max-width: 748px) {
  .card h1 {
    font-size: 25px;
    margin-left: -28px;
  }

  .card {
    max-width: 550px;
    min-height: 300px;
  }

  input {
    width: 130%;  /* Aumentando a largura do input para telas ainda menores */
  }
}

/* Responsividade para telas menores que 750px */
@media (max-width: 750px) {
  .card {
    flex-direction: column;
    max-width: 90%;
    padding: 40px 20px;
    margin: 15% auto;
    height: auto;
  }

  .card h1 {
    margin-left: -30px;
    font-size: 28px;
    margin-top: 10px;
  }

  .input-container {
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 120%;
    padding: 12px;
    max-width: 300px;
    margin-left: 0;
    transform: scale(0.9);
    margin-right: 4px;
  }

}

/* Responsividade para telas menores que 715px */
@media (max-width: 715px) {
  .input-container {
    flex-direction: column;
    align-items: center;
  }

  .input-image {
    max-width: 100%;
    margin: 0 0 20px 0;
  }

  .card h1 {
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  input {
    
    width: 90%;
    padding: 12px;
    max-width: 300px;
    margin-left: 0;
    transform: scale(0.9);
    margin-right: 4px;
  }

  label {
    margin-left: 0;
  }

  .form-check-input {
    transform: scale(1);
    margin-left: 10px;
  }

  #proximo {
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
  }

  .card {
    padding: 100px;
    flex-direction: column;
  }
}

/* Responsividade para telas menores que 710px */
@media (max-width: 710px) {
  .input-container {
    flex-direction: column;
    align-items: center;
  }

  .input-image {
    max-width: 100%;
    margin: 0 0 20px 0;
  }

  .card h1 {
    font-size: 24px;  /* Mantendo o tamanho da fonte igual ao de 715px */
    margin-left: 20px;
    margin-bottom: 20px;
  }

  input {
    
    width: 90%;
    padding: 12px;
    max-width: 300px;
    margin-left: 0;
    transform: scale(0.9);
    margin-right: 4px;
  }

  label {
    margin-left: 0;
    font-size: 1em;  /* Mantendo o tamanho da fonte igual ao de 715px */
  }

  .form-check-input {
    transform: scale(1);  /* Mantendo o tamanho do botão de rádio igual ao de 715px */
    margin-left: 10px;
  }

  #proximo {
    width: 100%;
    padding: 9px;  /* Ajustando o padding para manter o padrão */
    font-size: 0.85em;  /* Mantendo o tamanho do botão igual ao de 715px */
  }

  .card {
    padding: 80px 20px;  /* Ajustando o padding do card para ficar similar ao de 715px */
    flex-direction: column;
  }
}
