/* Reseta padding e margens de todos os elementos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Inclui o padding e a borda nas dimensões do elemento */
}

/* BODY STYLES */
body {
  background-color: #ffffff; /* Cor de fundo */
  font-family: 'Barlow Condensed', sans-serif;
}

.container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  min-height: auto; /* Altura mínima da tela */
}

/* CONTENT */
.content {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.card {
  margin: 15% auto; /* Margem automática nas laterais e 10% no topo */
  padding: 80px 100px; /* Padding ajustado */
  height: 760px; /* Altura fixa */
  max-width: 900px; /* Largura máxima do card */
  width: 90%; /* Largura responsiva, ocupa 90% da tela */
  background-color: white; /* Fundo do card */
  border-radius: 25px; /* Bordas arredondadas */
  border: 5px solid #115089; /* Cor e largura da borda */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de profundidade */
  margin-top: 100px; /* Aumenta o espaço entre o card e o cabeçalho */
}

.card h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #000000;
  margin-left: -68px;
  margin-top: -25px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .card h1 {
    font-size: 28px; /* Tamanho do título para telas menores */
    margin-left: -40px; /* Ajusta a margem esquerda */
  }
}

@media (max-width: 480px) {
  .card h1 {
    font-size: 24px; /* Tamanho do título ainda menor */
    margin-left: -20px; /* Ajusta a margem esquerda */
  }
}


/* STYLES */
input {
  width: 100%; /* Responsivo */
  max-width: 800px; /* Largura máxima do input */
  padding: 10px 60px; /* Remove espaçamento interno lateral */
  border-radius: 7px;
  margin-bottom: 15px;
  border: 1px solid #115089;
  margin-left: 20px;
  font-size: 1.1em;
  background-color: #ffffff;
}


label {
  margin-left: 20px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.2em; /* Tamanho padrão do label */
  color: #000000;
  margin-bottom: 5px;
  display: block;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-image {
  align-items: center;
  margin-right: 40px; /* Mantém a margem direita da imagem */
  height: auto; /* Permite que a altura se ajuste automaticamente */
  max-height: 270px; /* Limita a altura máxima da imagem */
  width: 60%; /* Largura total para responsividade */
  max-width: 35%; /* Limita a largura máxima da imagem */
}

input:focus + label {
  color: var(--color-input);
  font-weight: bold;
}

.option {
  display: flex; /* Use flexbox para alinhar os elementos */
  align-items: center; /* Alinha verticalmente */
  margin-bottom: 14px; /* Espaço entre as opções */
  margin-left: 0px;
}

.form-check-input {
  margin-top: 10px;
  transform: scale(1.2); /* Aumenta o tamanho do botão de rádio */
  margin-right: -48%; /* Reduz o espaço entre o botão e o texto do label */
}

@media (max-width: 768px) {
  .form-check-input {
    transform: scale(1); /* Ajusta o tamanho do botão de rádio */
    margin-right: 5px; /* Menos espaço em telas menores */
  }
}

@media (max-width: 480px) {
  .form-check-input {
    transform: scale(0.9); /* Reduz ainda mais o tamanho do botão de rádio */
    margin-right: 5px; /* Ajusta o espaço entre o botão e o texto do label */
  }
}


.form-check-label {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1em; /* Tamanho padrão do label */
  color: #000000;
  white-space: nowrap; /* Impede quebra de linha */
}

.button-container {
  display: flex; /* Usar flexbox para o contêiner */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  margin-top: 40px; /* Espaço acima do botão, se necessário */
}

#proximo {
  font-size: 1.2em;
  margin: 0 auto; /* Centraliza o botão horizontalmente */
  padding: 10px 80px; /* Padding do botão */
  border-radius: 5px;
  border: 2px solid #115089;
  background-color: #115089;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  width: 320px; /* Largura do botão */
  max-width: 1000px; /* Limita a largura máxima do botão */
  font-family: "Barlow Condensed", sans-serif;
}

#proximo:hover{
  transform: scale(1.05);
}

@media (max-width: 715px) {
  .input-container {
    flex-direction: column;
    align-items: center;
  }

  .input-image {
    max-width: 100%;
    margin: 0 0 20px 0;
  }

  .card h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  input {
    width: 90%;
    padding: 8px;
    font-size: 1em;
    margin-left: 0; /* Remove o espaçamento à esquerda */
  }

  label {
    margin-left: 0; /* Remove o espaçamento à esquerda */
  }

  .form-check-input {
    transform: scale(1);
  }

  #proximo {
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 20px;
  }

  .card h1 {
    font-size: 20px;
    margin-top: 25px;
  }

  .input-image {
    max-width: 100%;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-left: 0; /* Remove o espaçamento à esquerda em telas ainda menores */
  }

  label {
    margin-left: 0; /* Remove o espaçamento à esquerda em telas ainda menores */
  }

  #proximo {
    padding: 8px 20px;
    width: 100%;
  }

  .form-check-input {
    transform: scale(0.9);
    margin-right: 5px;
  }
}
