/* Reset de padding e margens */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Teko', sans-serif;
}

.card h1 {
    margin-bottom: 40px;
    font-size: 33px;
    color: #000000;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    text-align: center;
}

.card {
    min-height: 600px;
    margin: 10% auto;
    padding: 80px 50px;
    max-width: 890px;
    width: 90%;
    background-color: white;
    border-radius: 25px;
    border: 5px solid #236baf;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */
    justify-content: center;
    gap: 20px; /* Espaçamento entre os cards */
}

.mini-card {
    background-color: #ffffff;
    padding: 30px;
    border: 3px solid #236baf;
    border-radius: 13px;
    width: calc(42% - 20px); /* Dois cards por linha */
    height: 310px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.mini-card h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
}

.image-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100%; /* Ocupa toda a largura do mini-card */
    height: 150px; /* Altura fixa para a imagem */
    margin-bottom: 10px; /* Espaçamento abaixo da imagem */
}

/* Estilos para imagens específicas */
.image-1 img {
    max-width: 60%; /* A imagem ocupa 80% da largura do contêiner */

}

.image-2 img {
    max-width: 40%; /* A imagem ocupa 90% da largura do contêiner */
}

.image-3 img {
    max-width: 60%; /* A imagem ocupa 85% da largura do contêiner */
    filter: grayscale(50%); /* Efeito em preto e branco */
}

.image-4 img {
    max-width: 40%; /* A imagem ocupa 95% da largura do contêiner */
    transition: transform 0.3s; /* Efeito de transição */
}

.image-4 img:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.mini-card button {
    background-color: #236baf;
    color: #fff;
    border: none;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    width: 130px; /* Largura do botão */
    height: 40px; /* Altura do botão */
    margin-top: 20px; /* Espaçamento superior do botão */
    transition: background-color 0.3s; /* Transição suave ao passar o mouse */
}

.mini-card button:hover {
    background-color: #03468d; /* Cor ao passar o mouse */
}
.mini-card button.selected {
    background-color: #00dbf8; /* Cor quando selecionado */
    color: #fff; /* Mantém o texto branco */
}



.button-container {
    display: flex;
    justify-content: center;
}

.btn-proximo {
    font-size: 1em;
    margin-top: 60px;
    padding: 10px 80px; /* Padding do botão */
    border-radius: 10px;
    border: 4px solid ;
    background-color: #005d8b;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    height: 50px;
    width: 340px; /* Largura do botão */
    max-width: 100%; /* Limita a largura máxima do botão */
}

.btn-proximo:hover {
    background-color: #0991d4; /* Cor de fundo ao passar o mouse */
}



