.container {
  width: 100vw;
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
}

#conteudo {
  width: 100%;
  display: flex;
  justify-content: center;
}

#form {
  display: flex;
  flex-direction: column;
  width: 635px;
  margin-top: 25px;
}

#dia-semana {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-calendario {
  display: flex;
  justify-content: space-between;
  width: 585px;
}

#btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#btns img {
  width: 20px;
  cursor: pointer;
  user-select: none;
}

#semanas {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 600px;
  margin-bottom: 13px;
}

#semanas p {
  width: calc(600px / 7);
  user-select: none;
}

#dias {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 582px;
  gap: 14px;
}

#pricipal-calendario {
  width: 600px;
  margin: 0px auto;
  margin-bottom: 100px;
  transform: scale(1.09);
}

#dia {
  width: calc(400px / 7);
  height: calc(400px / 7);
  margin: 5px;
  margin-bottom: 0px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
  user-select: none;
}

#dia {
  outline: none; /* Remove qualquer contorno de foco residual */
  -webkit-tap-highlight-color: transparent; /* Remove o destaque em dispositivos móveis */
}

#dia:hover {
  border: 2px solid #07cb65;
}

.inactive {
  color: #ccc;
}

.active {
  border: 2px solid black !important;
  background-color: #07cb65;
  display: none;
}

.active p {
  color: rgb(255, 255, 255);
}

/* RETIRAR */
/* #pricipal-calendario {
    display: none;
} */

.atividade {
  display: flex;
  flex-direction: column;
  height: 14%;
  transition: 0.5s;
  margin-bottom: 35 px;
  user-select: none;
  outline: none; /* Remove qualquer contorno de foco residual */
  -webkit-tap-highlight-color: transparent; /* Remove o destaque em dispositivos móveis */
}

.card-atividade {
  width: 100%;
  height: 120px;
  background-color: #c0c0c0;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.card-atividade:hover {
  transform: scale(1.02);
}

.card-atividade p,
h3 {
  color: white;
}

.bloco1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  margin-left: 15px;
}

.bloco2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.data-entrega {
  display: flex;
  align-items: center;
}

.data-entrega img {
  width: 25px;
  height: 25px;
}

.data-entrega p {
  margin-left: 10px;
}

.bloco3 {
  width: 107px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  min-width: 107px;
  margin-right: 15px;
}

.bloco3 img {
  width: 40px;
}

.bloco1 img {
  width: 75%;
}

.icone-atividade {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.card-arquivo {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: 0.5s;
  height: 0px;
  overflow: hidden;
}

#publicar {
  background-color: #07cb65;
  border-radius: 5px;
  width: 140px;
  height: 30px;
  font-weight: bold;
  outline: none;
  border: none;
  float: right;
  margin-right: 7%;
  color: white;
  font-size: 14px;
  transition: transform 0.3s ease;
}

#publicar:hover {
  transform: scale(1.05);
}

.arquivo {
  width: 90%;
  border: solid 2px rgb(145, 145, 145);
  border-radius: 0 0 10px 10px;
}

.previa-arquivo {
  display: flex;
  align-items: center;
  margin: 15px 15px;
}

.titulos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 65%;
}

.inputs input {
  margin-left: 5%;
  height: 22px;
  border: solid 2px black;
  border-radius: 5px;
  outline: none;
  font-family: "Poppins", sans-serif;
  padding-left: 5px;
}

.selects{
  margin-left: 5%;
  height: 26px;
  border: solid 2px black;
  border-radius: 5px;
  outline: none;
  font-family: "Poppins", sans-serif;
  padding-left: 5px;
}

#id_modalidade {
  margin-left: 5%;
  height: 26px;
  border: solid 2px black;
  border-radius: 5px;
  outline: none;
  font-family: "Poppins", sans-serif;
  padding-left: 5px;
}

#input-arquivo {
  cursor: pointer;
  background-color: #ffffff;
  border: solid 2px #07cb65;
  height: 30px;
  width: 140px;
  border-radius: 5px;
  margin-left: 4%;
  color: black;
  font-weight: normal;
  font-size: 14px;
  transition: transform 0.3s ease;
}

#input-arquivo:hover {
  transform: scale(1.05);
  background-color: #07cb65;
  color: #ffffff;
}

.vazio {
  margin-top: 35px;
  font-size: 20px;
  color: #7a7a7a;
}

.botoes {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.opcoes-arquivos {
  display: flex;
  width: 100%;
  height: 30%;
}

#cancelar {
  display: none;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: #ab0303;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
}

#cancelar img {
  width: 25px;
}

#cancelar:hover {
  background-color: #750000;
}

#file-text {
  width: 100%;
}

#files {
  display: none;
}

label {
  margin-left: 5%;
  font-size: 14px;
  color: #999999;
}

.previa-arquivo img {
  width: 65px;
}

.previa-arquivo p {
  margin-left: 8px;
}

.atividade-aberto {
  height: 100% !important;
}

.aberto {
  height: 345px;
}

/* Parte das atividades já postadas */

/* Estilos principais */
#titulo-tarefas {
  font-family: "Poppins", sans-serif;
  margin-top: 40px;
}

.tarefa-item {
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  margin-bottom: 35px;
  user-select: none;
}

.cartao-tarefa {
  width: 100%;
  height: 120px;
  background-color: #07cb66ce;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.cartao-tarefa:hover {
  transform: scale(1.02);
}

.cartao-tarefa p,
h3 {
  color: white;
}

/* Blocos da tarefa */
.bloco-um {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  margin-left: 15px;
}

.bloco-dois {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.data-entrega {
  display: flex;
  align-items: center;
}

.data-entrega img {
  width: 25px;
  height: 25px;
}

.data-entrega p {
  margin-left: 10px;
}

.bloco-tres {
  width: 107px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  min-width: 107px;
  margin-right: 15px;
}

.bloco-tres img {
  width: 40px;
}

.bloco-um img {
  width: 65%;
}

.icone-tarefa {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

/* Cartão de arquivo */

.botoes-atividade {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.botoes-atividade img {
  width: 35px;
}

.deletar {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.deletar:hover {
  transform: scale(1.15);
}

.cartao-arquivo {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: 0.5s;
  height: 0px;
  overflow: hidden;
}

.cartao-arquivo button {
  border: solid 2px #07cb65;
  background-color: transparent;
  border-radius: 10px;
  width: 150px;
  height: 45px;
  font-weight: bold;
  float: right;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.cartao-arquivo button:hover {
  background-color: #07cb65;
  color: white;
  transform: scale(1.05);
}

.arquivo-conteudo {
  width: 90%;
  border: solid 2px rgb(145, 145, 145);
  border-radius: 0 0 10px 10px;
}

.previa-arquivo {
  display: flex;
  align-items: center;
  margin: 15px 15px;
}

.previa-arquivo img {
  width: 65px;
}

.previa-arquivo p {
  margin-left: 8px;
}

/* Estilos para tarefas abertas */
.tarefa-item.atividade-aberta {
  height: 280px !important;
}

.cartao-arquivo.aberto {
  height: 160px;
}

/* Tela Deletar Atividade */
#tela-deletar {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 700px;
  align-items: center;
  text-align: center;
  position: fixed;
  background-color: rgb(255, 255, 255);
  left: 50%;
  top: 50%;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  z-index: 12;
}

#titulo-deletar {
  margin-top: 35px;
  font-weight: bold;
  font-size: 28px;
  width: 85%;
}

#tela-deletar img {
  margin-top: 63px;
  margin-bottom: 63px;
}

#descricao-deletar {
  margin-bottom: 45px;
  font-size: 18px;
  width: 80%;
}

#formulario-deletar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#confirmar {
  background-color: #06db6d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

#confirmar:hover {
  transform: scale(1.05);
}

#Sair {
  background-color: #d9d9d9;
  color: gray;
  font-size: 16px;
  font-weight: bold;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: transform 0.3s ease;
  font-size: 20px;
  cursor: pointer;
}

#Sair:hover {
  background-color: #ab0303;
  color: white;
  transform: scale(1.05);
}

/* Fim Tela-Deletar */

/* Tela Data Inválida*/
#tela-data {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  align-items: center;
  text-align: center;
  position: fixed;
  background-color: rgb(255, 255, 255);
  left: 50%;
  top: 50%;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  z-index: 12;
}

#titulo-data {
  margin-top: 35px;
  font-weight: bold;
  font-size: 28px;
  width: 85%;
}

#tela-data img {
  margin-top: 55px;
  margin-bottom: 55px;
}

#descricao-data {
  margin-bottom: 45px;
  font-size: 18px;
  width: 80%;
}

#ok {
  background-color: #06db6d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

#ok:hover {
  transform: scale(1.05);
}

#sombra {
  display: flex;
  width: 10000px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.397);
  z-index: 10;
}

.invisivel {
  display: none !important;
}

@media screen and (min-width: 1920px) {
  #pricipal-calendario {
    width: 600px;
    margin: 50px auto;
    margin-bottom: 150px;
    transform: scale(1.3);
  }

  #form {
    display: flex;
    flex-direction: column;
    width: 751px;
    margin-top: 25px;
  }
}

@media screen and (max-width: 865px) {
  #consulta {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #tela-deletar {
    transform: translate(-50%, -40%) scale(0.75);
    transform-origin: top;
  }

  #form {
    width: 630px;
    margin-top: 0;
  }

  #titulo {
    margin-bottom: 0px;
  }

  .card-atividade {
    width: 100%;
  }
}

@media screen and (max-width: 710px) {
  #pricipal-calendario {
    width: initial;
    margin: initial;
    margin-bottom: -50px;
    transform: scale(0.8);
    transform-origin: top;
  }

  #tela-deletar {
    transform: translate(-50%, -40%) scale(0.8);
    transform-origin: top;
  }

  #titulo {
    transform: scale(0.822);
    transform-origin: top left;
  }

  #titulo-tarefas {
    transform: scale(0.822);
    transform-origin: top left;
  }

  #form {
    width: 470px;
    margin-top: 0;
  }

  .atividade {
    width: 566px;
    height: 120px;
    transform: scale(0.822);
    transform-origin: top left;
    margin-bottom: 0;
  }

  .tarefa-item {
    width: 566px;
    height: 120px;
    transform: scale(0.822);
    transform-origin: top left;
    margin-bottom: 0;
  }

  .atividade-aberto {
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 520px) {
  #pricipal-calendario {
    width: initial;
    margin: initial;
    margin-bottom: -180px;
    transform: scale(0.6);
    transform-origin: top;
  }

  #tela-deletar {
    transform: translate(-50%, -40%) scale(0.7);
    transform-origin: top;
  }

  .atividade {
    width: 566px;
    height: 120px;
    transform: scale(0.636);
    transform-origin: top left;
    margin-bottom: -30px;
  }

  .tarefa-item {
    width: 566px;
    height: 120px;
    transform: scale(0.636);
    transform-origin: top left;
    margin-bottom: -30px;
  }

  #form {
    width: 360px;
    margin-top: 0;
  }

  #titulo {
    font-size: 26px;
  }

  #titulo-tarefas {
    font-size: 26px;
  }

  .atividade-aberto {
    margin-bottom: -90px;
  }
}

@media screen and (max-width: 375px) {
  #pricipal-calendario {
    width: initial;
    margin: initial;
    margin-bottom: -220px;
    transform: scale(0.5);
    transform-origin: top;
  }

  .atividade {
    width: 566px;
    transform: scale(0.532);
    transform-origin: top left;
    margin-bottom: -40px;
  }

  #tela-deletar {
    transform: translate(-50%, -30%) scale(0.6);
    transform-origin: top;
  }

  .tarefa-item {
    width: 566px;
    transform: scale(0.532);
    transform-origin: top left;
    margin-bottom: -40px;
  }

  #form {
    width: 300px;
    margin-top: 0;
  }

  #titulo {
    font-size: 24px;
  }

  #titulo-tarefas {
    font-size: 24px;
  }

  .atividade-aberto {
    margin-bottom: -115px;
  }
}
