.container{
    width: 100vw;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
  }

#consulta{
    width: 100%;
    display: flex;
    justify-content: center;
}

#form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

#input-professor{
    border: none;
    border: solid 2px #2092c2;
    border-radius: 3px;
    height: 30px;
    width: 100%;
}

#input-data{
    border: none;
    border: solid 2px #2092c2;
    border-radius: 3px;
    height: 30px;
    width: 30%;
}

#input-justificativa{
    border: none;
    border: solid 2px #2092c2;
    border-radius: 3px;
    height: 200px;
    width: 100%;
}

#input-arquivo{
    border: none;
    border: solid 2px #2092c2;
    border-radius: 3px;
    height: 30px;
    width: 100%;
}

#btn-enviar{
    border: none;
    border: solid 2px #2092c2;
    border-radius: 3px;
    height: 30px;
    width: 100%;
}

