.container{
    width: 100vw;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
  }

#titulo{
    margin-bottom: 20px;
}

input{
    margin-bottom: 15px;
}

p{
    font-weight: bold;
    font-size: 18px;
}

#consulta{
    width: 100%;
    display: flex;
    justify-content: center;
}

#form{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-top: 25px;
}

#select-professor{
    border: none;
    border: solid 2px #2092c2;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    font-size: 18px;
    padding: 0 5px;
}

#input-data{
    border: none;
    border: solid 2px #2092c2;
    border-radius: 5px;
    height: 30px;
    width: 30%;
    font-size: 18px;
    padding: 0 5px;
}

#input-justificativa{
    font-family: 'Poppins', sans-serif;
    resize: none;
    border: none;
    border: solid 2px #2092c2;
    border-radius: 5px;
    font-size: 18px;
    height: 200px;
    width: 100%;
    padding: 5px 5px;
    margin-bottom: 15px;
}

#input-arquivo{
    cursor: pointer;
    background-color: #ffffff;
    border: solid 2px #2092c2;
    height: 30px;
    width: 140px;
    border-radius: 5px;
}

#files{
    display: none;
}

#btn-enviar{
    cursor: pointer;
    border: none;
    border: solid 2px #2092c2;
    background-color: #2092c2;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
    width: 140px;
}

#btns{
    display: flex;
    justify-content: space-between;
}



@media screen and (max-width: 992px) {

}

@media screen and (max-width: 865px) {
    #consulta{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #form{
        width: 85%;
        margin-top: 0;
    }

    input{
        width: 96%;
    }

    #input-professor{
        border: none;
        border: solid 2px #2092c2;
        border-radius: 5px;
        height: 30px;
        width: 96%;
        font-size: 18px;
        padding: 0 5px;
    }
    
    #input-data{
        border: none;
        border: solid 2px #2092c2;
        border-radius: 5px;
        height: 30px;
        width: 135px;
        font-size: 18px;
        padding: 0 5px;
    }
    
    #input-justificativa{
        font-family: 'Poppins', sans-serif;
        resize: none;
        border: none;
        border: solid 2px #2092c2;
        border-radius: 5px;
        font-size: 18px;
        height: 200px;
        width: 96%;
        padding: 5px 5px;
        margin-bottom: 15px;
    }

    #titulo{
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 490px) {

}