.container {
  width: 100vw;
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
}

#conteudos {
  width: 100%;
  display: flex;
  justify-content: center;
}

#form {
  display: flex;
  flex-direction: column;
  width: 635px;
  margin-top: 25px;
}

.ComboBox {
  width: 100%;
}

.ComboBox p {
  font-weight: bold;
  text-align: start;
}

#form-filtro {
  display: flex;
  width: 100%;
  gap: 25px;
  margin-top: 20px;
  align-items: end;
  margin-bottom: 20px;
}

select {
  border: 2px solid #07cb65;
  border-radius: 5px;
  width: 100%;
  height: 38px;
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 10px;
}

#cancelar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: #ab0303;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#cancelar img {
  width: 38px;
}

#cancelar:hover {
  background-color: #750000;
  transform: scale(1.1);
}

select:focus {
  outline: none; /* Remove a borda de foco padrão */
  border: 2px solid #07cb65; /* Mantém a borda verde ao focar */
}

.cards {
  display: flex;
  background-color: #c1e3c3;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  margin-top: 50px;
  cursor: pointer;
}

.cards:hover {
  transform: scale(1.05);
}

.cards.ativo {
  transform: scale(1.05);
}

.imagem img {
  height: 75%;
}

.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
}

.informacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}

.informacao p {
  margin-left: 5%;
  font-weight: bold;
}

.botoes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.aprovado,
.reprovado {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Evita cliques enquanto invisível */
}

.aprovado.clicado,
.reprovado.clicado {
  opacity: 1;
  pointer-events: auto; /* Permite cliques enquanto visível */
}

#p-justificativa {
  padding: 5px;
  width: 90%;
  font-family: "Poppins", sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button img:hover {
  transition: transform 0.3s ease;
  transform: scale(1.15);
}

.justificativa {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  transition: height 0.5s ease;
}
/* 
.transition {
  transition: height 0.5s ease;
} */

.justificativa.fechado {
  transition: height 0.5s ease;
  height: 0px;
}

.conteudo-justificativa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  overflow: hidden;
  width: 90%;
  border: 3px, solid, #07cb65;
  border-radius: 10px;

  transition: height 0.5s ease;
}

.conteudo-justificativa.fechado {
  transition: height 0.5s ease;
  /* height: 95%; */
}

.titulo {
  display: flex;
  width: 100%;
}

.titulo p {
  margin-left: 05%;
  font-weight: bold;
}

/* comecça aqui */

.card-arquivo {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: 0.5s;
  height: 160px;
  overflow: hidden;
  margin-bottom: 10px;
}

.card-arquivo button {
  border: solid 1px #07cb65;
  background-color: transparent;
  border-radius: 10px;
  width: 140px;
  height: 45px;
  font-weight: bold;
  float: right;
  margin-right: 30px;
  margin-bottom: 15px;
}

.arquivo {
  width: 90%;
  border: solid 2px rgb(145, 145, 145);
  border-radius: 10px;
}

.previa-arquivo {
  display: flex;
  align-items: center;
  margin: 15px 15px;
}

#justificativa-card {
  width: 635px;
}

.previa-arquivo img {
  width: 65px;
}

.previa-arquivo p {
  margin-left: 8px;
}

/* termina */

.filtrar {
  width: 150px;
  height: 38px;
  background-color: #07cb65;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.filtrar:focus {
  outline: none;
}

.filtrar:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 865px) {
  .container {
    width: 100vw;
    margin-top: 80px;
    font-family: "Poppins", sans-serif;
  }

  #conteudos {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .Form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  h1 {
    font-size: 28px;
  }

  .Form1 p {
    text-align: center;
  }

  #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 630px;
    margin-top: 25px;
  }

  .ComboBox {
    width: 100%;
  }

  .ComboBox p {
    font-weight: bold;
    text-align: start;
  }

  .Pesquisar {
    display: flex;
    width: 100%;
    gap: 10%;
    margin-top: 20px;
    height: 70px;
  }

  select {
    width: 100%;
    height: 30px;
    border: 2px solid #07cb65;
    border-radius: 5px;
  }

  select:focus {
    outline: none; /* Remove a borda de foco padrão */
    border: 2px solid #07cb65; /* Mantém a borda verde ao focar */
  }

  .cards {
    display: flex;
    background-color: #c1e3c3;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .cards:hover {
    transform: scale(1);
  }

  .cards.ativo {
    transform: scale(1.05);
  }

  .imagem img {
    height: 50%;
  }

  #justificativa-card {
    width: 566px;
    transform: scale(0.93);
  }

  .imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
  }

  .informacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
  }

  .informacao p {
    font-size: 14px;
    margin-left: 5%;
    font-weight: bold;
  }

  .botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
  }

  #aprovado,
  #reprovado {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #aprovado.clicado,
  #reprovado.clicado {
    opacity: 100%;
  }

  #p-justificativa {
    padding: 5px;
    width: 90%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  button img:hover {
    transition: transform 0.3s ease;
    transform: scale(1);
  }

  .justificativa {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease;
  }

  .justificativa.fechado {
    height: 0px;
  }

  #form-filtro {
    display: flex;
    flex-direction: column;
  }

  .cards p {
    font-size: 14px;
  }

  .conteudo-justificativa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
    transition: height 0.5s ease;
    width: 85%;
    border: 3px, solid, #07cb65;
    border-radius: 10px;
  }

  .titulo {
    display: flex;
    width: 100%;
  }

  .titulo p {
    margin-left: 05%;
    font-weight: bold;
  }

  .card-arquivo {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.5s;
    height: 160px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .card-arquivo button {
    border: solid 1px #07cb65;
    background-color: transparent;
    border-radius: 10px;
    width: 140px;
    height: 45px;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    margin-bottom: 15px;
  }

  .arquivo {
    width: 90%;
    border: solid 2px rgb(145, 145, 145);
    border-radius: 10px;
  }

  .previa-arquivo {
    display: flex;
    align-items: center;
    margin: 15px 15px;
  }

  .previa-arquivo img {
    width: 55px;
  }

  .previa-arquivo p {
    margin-left: 8px;
  }
}

@media screen and (max-width: 710px) {
  .container {
    width: 100vw;
    margin-top: 80px;
    font-family: "Poppins", sans-serif;
  }

  #conteudos {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .Form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  h1 {
    font-size: 28px;
  }

  .Form1 p {
    text-align: center;
  }

  #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 470px;
    margin-top: 25px;
  }

  .ComboBox {
    width: 100%;
  }

  .ComboBox p {
    font-weight: bold;
    text-align: start;
  }

  .Pesquisar {
    display: flex;
    width: 100%;
    gap: 10%;
    margin-top: 20px;
    height: 70px;
  }

  select {
    width: 100%;
    height: 30px;
    border: 2px solid #07cb65;
    border-radius: 5px;
  }

  select:focus {
    outline: none; /* Remove a borda de foco padrão */
    border: 2px solid #07cb65; /* Mantém a borda verde ao focar */
  }

  .cards {
    display: flex;
    background-color: #c1e3c3;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .cards:hover {
    transform: scale(1);
  }

  .cards.ativo {
    transform: scale(1.05);
  }

  .imagem img {
    height: 50%;
  }

  #justificativa-card {
    width: 566px;
    transform: scale(0.84);
  }

  .imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
  }

  .informacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
  }

  .informacao p {
    font-size: 14px;
    margin-left: 5%;
    font-weight: bold;
  }

  .botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
  }

  #aprovado,
  #reprovado {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #aprovado.clicado,
  #reprovado.clicado {
    opacity: 100%;
  }

  #p-justificativa {
    padding: 5px;
    width: 90%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  button img:hover {
    transition: transform 0.3s ease;
    transform: scale(1);
  }

  .justificativa {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease;
  }

  .justificativa.fechado {
    height: 0px;
  }

  #form-filtro {
    display: flex;
    flex-direction: column;
  }

  .cards p {
    font-size: 16px;
  }

  .conteudo-justificativa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
    transition: height 0.5s ease;
    width: 85%;
    border: 3px, solid, #07cb65;
    border-radius: 10px;
  }

  .titulo {
    display: flex;
    width: 100%;
  }

  .titulo p {
    margin-left: 05%;
    font-weight: bold;
  }

  .card-arquivo {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.5s;
    height: 160px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .card-arquivo button {
    border: solid 1px #07cb65;
    background-color: transparent;
    border-radius: 10px;
    width: 140px;
    height: 45px;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    margin-bottom: 15px;
  }

  .arquivo {
    width: 90%;
    border: solid 2px rgb(145, 145, 145);
    border-radius: 10px;
  }

  .previa-arquivo {
    display: flex;
    align-items: center;
    margin: 15px 15px;
  }

  .previa-arquivo img {
    width: 55px;
  }

  .previa-arquivo p {
    margin-left: 8px;
  }
}

@media screen and (max-width: 520px) {
  .container {
    width: 100vw;
    margin-top: 80px;
    font-family: "Poppins", sans-serif;
  }

  #conteudos {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .Form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  h1 {
    font-size: 28px;
  }

  .Form1 p {
    text-align: center;
  }

  #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    margin-top: 25px;
  }

  .ComboBox {
    width: 100%;
  }

  .ComboBox p {
    font-weight: bold;
    text-align: start;
  }

  .Pesquisar {
    display: flex;
    width: 100%;
    gap: 10%;
    margin-top: 20px;
    height: 70px;
  }

  select {
    width: 100%;
    height: 30px;
    border: 2px solid #07cb65;
    border-radius: 5px;
  }

  select:focus {
    outline: none; /* Remove a borda de foco padrão */
    border: 2px solid #07cb65; /* Mantém a borda verde ao focar */
  }

  .cards {
    display: flex;
    background-color: #c1e3c3;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .cards:hover {
    transform: scale(1);
  }

  .cards.ativo {
    transform: scale(1.05);
  }

  .imagem img {
    height: 50%;
  }

  #justificativa-card {
    width: 566px;
    transform: scale(0.645);
  }

  .imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
  }

  .informacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
  }

  .informacao p {
    font-size: 14px;
    margin-left: 5%;
    font-weight: bold;
  }

  .botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
  }

  #aprovado,
  #reprovado {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #aprovado.clicado,
  #reprovado.clicado {
    opacity: 100%;
  }

  #p-justificativa {
    padding: 5px;
    width: 90%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  button img:hover {
    transition: transform 0.3s ease;
    transform: scale(1);
  }

  .justificativa {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease;
  }

  .justificativa.fechado {
    height: 0px;
  }

  #form-filtro {
    display: flex;
    flex-direction: column;
  }

  .cards p {
    font-size: 16px;
  }

  .conteudo-justificativa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
    transition: height 0.5s ease;
    width: 85%;
    border: 3px, solid, #07cb65;
    border-radius: 10px;
  }

  .titulo {
    display: flex;
    width: 100%;
  }

  .titulo p {
    margin-left: 05%;
    font-weight: bold;
  }

  .card-arquivo {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.5s;
    height: 160px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .card-arquivo button {
    border: solid 1px #07cb65;
    background-color: transparent;
    border-radius: 10px;
    width: 140px;
    height: 45px;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    margin-bottom: 15px;
  }

  .arquivo {
    width: 90%;
    border: solid 2px rgb(145, 145, 145);
    border-radius: 10px;
  }

  .previa-arquivo {
    display: flex;
    align-items: center;
    margin: 15px 15px;
  }

  .previa-arquivo img {
    width: 55px;
  }

  .previa-arquivo p {
    margin-left: 8px;
  }
}

/* Smartphones */
@media screen and (max-width: 490px) {
  .container {
    width: 100vw;
    margin-top: 80px;
    font-family: "Poppins", sans-serif;
  }

  #conteudos {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .Form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  .Form1 p {
    text-align: center;
  }

  #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 25px;
  }

  .ComboBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #justificativa-card {
    width: 566px;
    transform: scale(0.54);
  }

  .conteudo-justificativa p {
    font-size: 18px;
  }

  .ComboBox p {
    width: 100%;
    text-align: start;
    font-weight: bold;
  }

  .Pesquisar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    margin-top: 20px;
  }

  select {
    width: 100%;
    height: 30px;
    border: 2px solid #07cb65;
    border-radius: 5px;
  }

  select:focus {
    outline: none; /* Remove a borda de foco padrão */
    border: 2px solid #07cb65; /* Mantém a borda verde ao focar */
  }

  .cards {
    display: flex;
    background-color: #c1e3c3;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-top: 20px;
    cursor: pointer;
  }

  .cards:hover {
    transform: scale(1);
  }

  .cards.ativo {
    transform: scale(1.05);
  }

  .imagem img {
    height: 50%;
  }

  .imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
  }

  .informacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
  }

  .informacao p {
    font-size: 18px;
    margin-left: 5%;
    font-weight: bold;
  }

  .botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
  }

  #aprovado,
  #reprovado {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #aprovado.clicado,
  #reprovado.clicado {
    opacity: 100%;
  }

  #p-justificativa {
    padding: 5px;
    width: 90%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  button img:hover {
    transition: transform 0.3s ease;
    transform: scale(1);
  }

  .justificativa {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease;
  }

  .justificativa.fechado {
    height: 0px;
  }

  .conteudo-justificativa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
    transition: height 0.5s ease;
    width: 85%;
    border: 3px, solid, #07cb65;
    border-radius: 10px;
  }

  .titulo {
    display: flex;
    width: 100%;
  }

  .titulo p {
    margin-left: 05%;
    font-weight: bold;
  }

  .card-arquivo {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.5s;
    height: 160px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .card-arquivo button {
    border: solid 1px #07cb65;
    background-color: transparent;
    border-radius: 10px;
    width: 140px;
    height: 45px;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    margin-bottom: 15px;
  }

  .informacao p {
    font-size: 20px;
  }

  .arquivo {
    width: 90%;
    border: solid 2px rgb(145, 145, 145);
    border-radius: 10px;
  }

  .previa-arquivo {
    display: flex;
    align-items: center;
    margin: 15px 15px;
  }

  .previa-arquivo img {
    width: 55px;
  }

  .previa-arquivo p {
    margin-left: 8px;
  }
}
