.container {
  width: 100vw;
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
}

#consulta {
  width: 100%;
  display: flex;
  justify-content: center;
}

#conteudo {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-top: 25px;
}

.ComboBox {
  width: 50%;
}

.Form1 {
  text-align: center;
}

.ComboBox p {
  font-weight: bold;
  text-align: start;
  margin-left: 15px;
}

.Pesquisar {
  display: flex;
  width: 100%;
  gap: 10%;
  margin-top: 20px;
}

select {
  width: 90%;
  height: 60%;
  border: 2px solid #07cb65;
  border-radius: 5px;
}

select:focus {
  outline: none; /* Remove a borda de foco padrão */
  border: 2px solid #07cb65; /* Mantém a borda verde ao focar */
}

.Form1 {
  height: 150px;
}

.cards {
  display: flex;
  background-color: #84c88880;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  margin-top: 20px;
  cursor: pointer;
}

.cards:hover {
  transform: scale(1.05);
}

.cards.ativo {
  transform: scale(1.05);
}

.imagem img {
  height: 75%;
}

.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
}

.informacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}

.informacao p {
  margin-left: 5%;
  font-weight: bold;
}

.botoes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

#aprovado,
#reprovado {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Evita cliques enquanto invisível */
}

#aprovado.clicado,
#reprovado.clicado {
  opacity: 1;
  pointer-events: auto; /* Permite cliques enquanto visível */
}

#p-justificativa {
  padding: 5px;
  width: 90%;
  font-family: "Poppins", sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button img:hover {
  transition: transform 0.3s ease;
  transform: scale(1.15);
}

.justificativa {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

.justificativa.aberto {
  height: 95%;
}

.conteudo-justificativa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease;
  width: 90%;
  border: 3px, solid, #07cb65;
  border-radius: 10px;
}

.conteudo-justificativa.aberto {
  height: 95%;
}

.titulo {
  display: flex;
  width: 100%;
}

.titulo p {
  margin-left: 05%;
  font-weight: bold;
}

/* comecça aqui */

.card-arquivo {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: 0.5s;
  height: 160px;
  overflow: hidden;
  margin-bottom: 10px;
}

.card-arquivo button {
  border: solid 1px #07cb65;
  background-color: transparent;
  border-radius: 10px;
  width: 140px;
  height: 45px;
  font-weight: bold;
  float: right;
  margin-right: 30px;
  margin-bottom: 15px;
}

.arquivo {
  width: 90%;
  border: solid 2px rgb(145, 145, 145);
  border-radius: 10px;
}

.previa-arquivo {
  display: flex;
  align-items: center;
  margin: 15px 15px;
}

.previa-arquivo img {
  width: 65px;
}

.previa-arquivo p {
  margin-left: 8px;
}

/* termina */

@media screen and (max-width: 992px) {
  .container {
    width: 100vw;
    margin-top: 80px;
    font-family: "Poppins", sans-serif;
  }

  #consulta {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .Form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 85%;
  }

  #conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 25px;
  }

  .ComboBox {
    width: 50%;
  }

  .ComboBox p {
    font-weight: bold;
    text-align: start;
    margin-left: 15px;
  }

  .Pesquisar {
    display: flex;
    width: 100%;
    gap: 10%;
    margin-top: 20px;
    height: 70px;
  }

  select {
    width: 90%;
    height: 60%;
    border: 2px solid #07cb65;
    border-radius: 5px;
  }

  select:focus {
    outline: none; /* Remove a borda de foco padrão */
    border: 2px solid #07cb65; /* Mantém a borda verde ao focar */
  }

  .cards {
    display: flex;
    background-color: #84c88880;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .cards:hover {
    transform: scale(1.05);
  }

  .cards.ativo {
    transform: scale(1.05);
  }

  .imagem img {
    height: 50%;
  }

  .imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
  }

  .informacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
  }

  .informacao p {
    font-size: 14px;
    margin-left: 5%;
    font-weight: bold;
  }

  .botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
  }

  #aprovado,
  #reprovado {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #aprovado.clicado,
  #reprovado.clicado {
    opacity: 100%;
  }

  #p-justificativa {
    padding: 5px;
    width: 90%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  button img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.15);
  }

  .justificativa {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
  }

  .justificativa.aberto {
    height: 500px;
  }

  .conteudo-justificativa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease;
    width: 85%;
    border: 3px, solid, #07cb65;
    border-radius: 10px;
  }

  .conteudo-justificativa.aberto {
    height: 65%;
  }
  .titulo {
    display: flex;
    width: 100%;
  }

  .titulo p {
    margin-left: 05%;
    font-weight: bold;
  }

  .card-arquivo {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.5s;
    height: 160px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .card-arquivo button {
    border: solid 1px #07cb65;
    background-color: transparent;
    border-radius: 10px;
    width: 140px;
    height: 45px;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    margin-bottom: 15px;
  }

  .arquivo {
    width: 90%;
    border: solid 2px rgb(145, 145, 145);
    border-radius: 10px;
  }

  .previa-arquivo {
    display: flex;
    align-items: center;
    margin: 15px 15px;
  }

  .previa-arquivo img {
    width: 55px;
  }

  .previa-arquivo p {
    margin-left: 8px;
  }
}

@media screen and (max-width: 865px) {
  .container {
    width: 100vw;
    margin-top: 80px;
    font-family: "Poppins", sans-serif;
  }

  #consulta {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .Form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  #conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 25px;
  }

  .ComboBox {
    width: 50%;
  }

  .ComboBox p {
    font-size: 80%;
    font-weight: bold;
    text-align: start;
    margin-left: 10px;
  }

  .Pesquisar {
    display: flex;
    width: 100%;
    gap: 10%;
    margin-top: 20px;
    height: 70px;
  }

  select {
    width: 90%;
    height: 60%;
    border: 2px solid #07cb65;
    border-radius: 5px;
  }

  select:focus {
    outline: none; /* Remove a borda de foco padrão */
    border: 2px solid #07cb65; /* Mantém a borda verde ao focar */
  }

  .cards {
    display: flex;
    background-color: #84c88880;
    width: 85%;
    height: 100px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .cards:hover {
    transform: scale(1.05);
  }

  .cards.ativo {
    transform: scale(1.05);
  }

  .imagem img {
    height: 50%;
  }

  .imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
  }

  .informacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
  }

  .informacao p {
    font-size: 14px;
    margin-left: 5%;
    font-weight: bold;
  }

  .botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
  }

  #aprovado,
  #reprovado {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #aprovado.clicado,
  #reprovado.clicado {
    opacity: 100%;
  }

  #p-justificativa {
    padding: 5px;
    width: 90%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  button img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.15);
  }

  .justificativa {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
  }

  .justificativa.aberto {
    height: 500px;
  }

  .conteudo-justificativa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease;
    width: 85%;
    border: 3px, solid, #07cb65;
    border-radius: 10px;
  }

  .conteudo-justificativa.aberto {
    height: 65%;
  }
  .titulo {
    display: flex;
    width: 100%;
  }

  .titulo p {
    margin-left: 05%;
    font-weight: bold;
  }

  .card-arquivo {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.5s;
    height: 160px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .card-arquivo button {
    border: solid 1px #07cb65;
    background-color: transparent;
    border-radius: 10px;
    width: 140px;
    height: 45px;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    margin-bottom: 15px;
  }

  .arquivo {
    width: 90%;
    border: solid 2px rgb(145, 145, 145);
    border-radius: 10px;
  }

  .previa-arquivo {
    display: flex;
    align-items: center;
    margin: 15px 15px;
  }

  .previa-arquivo img {
    width: 55px;
  }

  .previa-arquivo p {
    margin-left: 8px;
  }
}

/* Smartphones */
@media screen and (max-width: 490px) {
  .container {
    width: 100vw;
    margin-top: 80px;
    font-family: "Poppins", sans-serif;
  }

  #consulta {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .Form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
  }

  .Form1 p {
    text-align: center;
  }

  #conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
  }

  .ComboBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 80%;
  }

  .ComboBox p {
    width: 100%;
    text-align: start;
    margin-left: 10%;
    font-weight: bold;
  }

  .Pesquisar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    margin-top: 20px;
  }

  select {
    width: 90%;
    height: 80%;
    border: 2px solid #07cb65;
    border-radius: 5px;
  }

  select:focus {
    outline: none; /* Remove a borda de foco padrão */
    border: 2px solid #07cb65; /* Mantém a borda verde ao focar */
  }

  .cards {
    display: flex;
    background-color: #84c88880;
    width: 90%;
    height: 90px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-top: 20px;
    cursor: pointer;
  }

  .cards:hover {
    transform: scale(1.05);
  }

  .cards.ativo {
    transform: scale(1.05);
  }

  .imagem img {
    height: 50%;
  }

  .imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
  }

  .informacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
  }

  .informacao p {
    font-size: 14px;
    margin-left: 5%;
    font-weight: bold;
  }

  .botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
  }

  #aprovado,
  #reprovado {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  #aprovado.clicado,
  #reprovado.clicado {
    opacity: 100%;
  }

  #p-justificativa {
    padding: 5px;
    width: 90%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  button img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.15);
  }

  .justificativa {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
  }

  .justificativa.aberto {
    /* height: 500px; */
  }

  .conteudo-justificativa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease;
    width: 85%;
    border: 3px, solid, #07cb65;
    border-radius: 10px;
  }

  .conteudo-justificativa.aberto {
    height: 80%;
  }
  .titulo {
    display: flex;
    width: 100%;
  }

  .titulo p {
    margin-left: 05%;
    font-weight: bold;
  }

  .card-arquivo {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.5s;
    height: 160px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .card-arquivo button {
    border: solid 1px #07cb65;
    background-color: transparent;
    border-radius: 10px;
    width: 140px;
    height: 45px;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    margin-bottom: 15px;
  }

  .arquivo {
    width: 90%;
    border: solid 2px rgb(145, 145, 145);
    border-radius: 10px;
  }

  .previa-arquivo {
    display: flex;
    align-items: center;
    margin: 15px 15px;
  }

  .previa-arquivo img {
    width: 55px;
  }

  .previa-arquivo p {
    margin-left: 8px;
  }
}
