*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    margin-top: 40px;
}

header{
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    display: flex;
    box-shadow: 0px 0px 4px #1c1c1c;
    z-index: 10;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none; 
    -webkit-tap-highlight-color: transparent;
}

header li, header li a{
    list-style: none;
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
    color: #000000;
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
}

#login{
    padding: 5px 18px;
    border-radius: 10px;
    border: rgba(171, 3, 3, 1) solid;
    background-color: rgba(171, 3, 3, 1);
    transition: 0.5s;
}

#login a{
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}

#icone-perfil{
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

#Matricule-se{
    padding: 5px;
    border-radius: 10px;
    background-color:  #115089;
    border:  #115089 solid 2px;
    transition: 0.5s;
}

#Matricule-se:hover{
    transform: scale(1.05);
}

#login:hover{
    transform: scale(1.05);
}

#Matricule-se li a{
    color: #ffffff;
}

#navbar-part-1 li a::after{
    display: block;
    content: " ";
    width: 0;
    height: 2px;
    background-color:  #07cb65;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

#navbar-part-1 li a:hover::after{
    width: 100%;
    left: 0;
}

#menu-sanduiche{
    margin-left: 20px;
    display: none;
    border: none;
    background: none;
    border-top: 3px solid black;
    cursor: pointer;
}

#logo{
    width: 200px;
    margin-left: 3%;
    margin-right: 3%;
}

#part-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#navbar-part-1{
    display: flex;
    gap: 25px;
}

#part-2{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;   
}

#navbar-part-2{
    display: flex;
    gap: 20px;
    margin-right: 40px;
    align-items: center;
}

/* Menu sanduiche */

#menu-lateral{
    display: none;
    position: fixed;
    left: 12px;
    top: 70px;
    z-index: 2;
    background-color: #ffffff;
    width: 140px;
    height: 0px;
    box-shadow: 0px 0px 3px;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s;
}

#menu-lateral.abra{
    height: 170px;
}

#menu-sanduiche.abra{
    border-top-color: transparent;
}

#menu-sanduiche::before,
#menu-sanduiche::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    margin-top: 5px;
    background-color: #000000;
    position: relative;
    transition: 0.3s;

}

#menu-sanduiche.abra::before{
    transform: rotate(135deg);
}

#menu-sanduiche.abra::after{
    transform: rotate(-135deg);
    top: -7px;
}
#menu-sanduiche{
    display: none;
}

.abra{
    display: block;
}

#menu-lateral li a, #menu-lateral li{
    text-decoration: none;
    list-style: none;
    line-height: 40px;
    color: #000000;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
}

#menu-navigation{
    margin-left: 20px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;  /* Garante que a modal fique sobre outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 15% auto; /* Centraliza a modal */
    text-align: center;
}

/* Estilos do botão e fechamento */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#cancelLogout {
    background-color: #f44336;
}

#cancelLogout:hover {
    background-color: #e53935;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
}

.close:hover, .close:focus {
    color: black;
    cursor: pointer;
}

/* Navbar Styling */
#navbar-part-2 {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#navbar-part-2 button {
    background-color: #e53935;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#navbar-part-2 button:hover {
    background-color: #d32f2f;
}

@media screen and (max-width: 992px) {

    header{
        background-color: #ffffff;
        width: 100%;
        height: 60px;
        display: flex;
        box-shadow: 0px 0px 4px #1c1c1c;
    }

    header li, header li a{
        list-style: none;
        text-decoration: none;
        font-size: 13.6px;
        font-weight: 600;
        color: #000000;
        position: relative;
    }

    #navbar-part-1{
        display: none;
    }

    #part-1{
        width: 100%;
        justify-content: space-between;
    }

    #part-2{
        width: 100%;
    }

    #menu-sanduiche{
        display: block;
    }

    #navbar-part-2{
        display: flex;
        gap: 10px;
        margin-right: -24px;
        align-items: center;
        min-width: 175px;
    }
    #logo{
        width: 130px;

    }

    #menu-lateral{
        display: block;
    }

    #icone-perfil{
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat; 
    }

 }
 