.container{
    width: 100vw;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
  }

#conteudo{
    width: 100%;
    display: flex;
    justify-content: center;
}

#form{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-top: 25px;
}

#dia-semana{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calendario{
}

#header-calendario{
    display: flex;
    justify-content: space-between;
    width: 585px;
}

#btns{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#btns img{
    width: 20px;
    cursor: pointer;
}

#semanas{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 600px;
    margin-bottom: 13px;
}

#semanas p{
    width: calc(600px / 7);
}

#dias{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 582px;
    gap: 14px;
}

#pricipal-calendario{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#dia{
    width: calc(400px / 7);
    height: calc(400px / 7);
    margin: 5px;
    margin-bottom: 0px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.inactive{
    color: #ccc;
}

.active{
    border: 2px solid black !important; 
    background-color: #2092c2;
    display: none;
}

.active p{
    color: rgb(255, 255, 255);
}

/* RETIRAR */
/* #pricipal-calendario {
    display: none;
} */

.atividade{
    display: flex;
    flex-direction: column;
    height: 37%;
    transition: 0.5s;
}

.card-atividade{
    width: 100%;
    height: 120px;
    background-color: #73bad9;
    display: flex; 
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.card-atividade:hover{
    transform: scale(1.02);

}

.card-atividade p, h3{
    color: white;
}

.bloco1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    margin-left: 15px;
}

.bloco2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;

}

.titulo-atividade{

}

.data-entrega{
    display: flex;
    align-items: center;
}

.data-entrega img{
    width: 25px;
    height: 25px;
}

.data-entrega p{
    margin-left: 10px;
}

.bloco3{
    width: 107px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    min-width: 107px;
    margin-right: 15px;
}

.bloco3 img{
    width: 40px; 
}

.bloco1 img{
    width: 65%;
}

.icone-atividade{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    
}

.card-arquivo{
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.5s;
    height: 0%;
    overflow: hidden;
}

.card-arquivo button{
    border: solid 1px #2092c2;
    background-color: transparent;
    border-radius: 10px;
    width: 150px;
    height: 45px;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    margin-bottom: 15px;
}

.arquivo{
    width: 90%;
    border: solid 2px rgb(145, 145, 145);
    border-radius: 0 0 10px 10px;
}

.previa-arquivo{
    display: flex;
    align-items: center;
    margin: 15px 15px;
}

.previa-arquivo img{
    width: 65px;
}

.previa-arquivo p{
    margin-left: 8px;
}

.atividade-aberto{
    height: 100%;
}

.aberto{
    height: 55%;
}



@media screen and (max-width: 992px) {

}

@media screen and (max-width: 865px) {
    #consulta{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #form{
        width: 85%;
        margin-top: 0;
    }

    #titulo{
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 490px) {

}