.container{
    width: 100vw;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
  }

#titulo{
    margin-bottom: 20px;
}

h3{
    font-size: 100%;
}

p{
    font-size: 100%;
}
input{
    margin-bottom: 15px;
}

#th{
    display: flex;
    justify-content: space-between;
    border: solid 2px #2092c2;
    border-radius: 5px;
    align-items: center;
    height: 40px;
    margin-bottom: 25px;
}

#th-direita{
    display: flex;
    justify-content: center;
    width: 100%;
}

#th-esquerda{
    display: flex;
    justify-content: center;
    width: 100%;
}

.separador-vertical{
    width: 1px;
    background-color: black;
    height: 90%;
}

.separador-horizontal{
    width: 85%;
    background-color: black;
    height: 1px;
}

#table{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 2px #2092c2;
    border-radius: 5px;
    min-height: 219px;
}

#nomes-professores{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contato-professores{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#tr-nome{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#tr-contatos{
    width: 100%;
}

#consulta{
    width: 100%;
    display: flex;
    justify-content: center;
}

#form{
    display: flex;
    flex-direction: column;
    width: 55%;
    min-width: 650px;
    margin-top: 25px;
}

#input-professor{
    border: none;
    border: solid 2px #2092c2;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    font-size: 18px;
    padding: 0 5px;
}

#input-data{
    border: none;
    border: solid 2px #2092c2;
    border-radius: 5px;
    height: 30px;
    width: 30%;
    font-size: 18px;
    padding: 0 5px;
}

#input-justificativa{
    font-family: 'Poppins', sans-serif;
    resize: none;
    border: none;
    border: solid 2px #2092c2;
    border-radius: 5px;
    font-size: 18px;
    height: 200px;
    width: 100%;
    padding: 5px 5px;
    margin-bottom: 15px;
}

#input-arquivo{
    cursor: pointer;
    background-color: #ffffff;
    border: solid 2px #2092c2;
    height: 30px;
    width: 140px;
    border-radius: 5px;
}

#files{
    display: none;
}

#btn-enviar{
    cursor: pointer;
    border: none;
    border: solid 2px #2092c2;
    background-color: #2092c2;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
    width: 140px;
}

#btns{
    display: flex;
    justify-content: space-between;
}



@media screen and (max-width: 992px) {

}

@media screen and (max-width: 865px) {

    #consulta{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #form{
        width: 85%;
        margin-top: 0;
    }

    input{
        width: 96%;
    }

    #input-professor{
        border: none;
        border: solid 2px #2092c2;
        border-radius: 5px;
        height: 30px;
        width: 96%;
        font-size: 18px;
        padding: 0 5px;
    }
    
    #input-data{
        border: none;
        border: solid 2px #2092c2;
        border-radius: 5px;
        height: 30px;
        width: 135px;
        font-size: 18px;
        padding: 0 5px;
    }
    
    #input-justificativa{
        font-family: 'Poppins', sans-serif;
        resize: none;
        border: none;
        border: solid 2px #2092c2;
        border-radius: 5px;
        font-size: 18px;
        height: 200px;
        width: 96%;
        padding: 5px 5px;
        margin-bottom: 15px;
    }

    #titulo{
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 700px) {
    .container{
        margin-bottom: -80px;
    }

    #consulta{
        width: 100%;
        display: flex;
        justify-content: center;
        transform: scale(0.8);
        transform-origin: top;
    }

    #form{
        width: 85%;
        margin-top: 0;
    }

    #form p{
        text-align: center;
    }

}

@media screen and (max-width: 560px) {
    .container{
        margin-bottom: -180px;
    }

    #consulta{
        width: 100%;
        display: flex;
        justify-content: center;
        transform: scale(0.7);
        transform-origin: top;
    }

    #form{
        width: 85%;
        margin-top: 0;
    }

    #form p{
        text-align: center;
    }

}

@media screen and (max-width: 490px) {
    .container{
        margin-bottom: -280px;
    }

    #consulta{
        width: 100%;
        display: flex;
        justify-content: center;
        transform: scale(0.6);
        transform-origin: top;
    }

    #form{
        width: 85%;
        margin-top: 0;
    }

    #form p{
        text-align: center;
    }

}

@media screen and (max-width: 430px) {
    .container{
        margin-bottom: -300px;
    }

    #consulta{
        width: 100%;
        display: flex;
        justify-content: center;
        transform: scale(0.5);
        transform-origin: top;
    }

    #form{
        width: 85%;
        margin-top: 0;
    }

    #form p{
        text-align: center;
    }

}

