.container {
  width: 100vw;
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
}

#titulo {
  margin-bottom: 20px;
}

h3 {
  font-size: 100%;
}

p {
  font-size: 100%;
}
input {
  margin-bottom: 15px;
}

/* Select Form */

#form-filtro {
  display: flex;
  width: 100%;
  gap: 30px;
}

.filtrar {
  width: 200px;
  background-color: #07cb65;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.filtrar:focus {
  outline: none;
}

.filtrar:hover {
  transform: scale(1.05);
}

select {
  width: 100%;
  height: 38px;
  font-size: 16px;
}

#select-professor:focus {
  outline: none; /* Remove a borda de foco padrão */
  border: 2px solid #07cb65; /* Mantém a borda verde ao focar */
}

#select-turma:focus {
  outline: none; /* Remove a borda de foco padrão */
  border: 2px solid #07cb65; /* Mantém a borda verde ao focar */
}

#select-modalidade {
  border: 2px solid #07cb65;
  border-radius: 5px;
}

#select-turma {
  border: 2px solid #07cb65;
  border-radius: 5px;
}

/* Form */

#th {
  display: flex;
  justify-content: space-between;
  border: solid 2px #07cb65;
  border-radius: 5px;
  align-items: center;
  height: 40px;
  margin-bottom: 25px;
}

#th-direita {
  display: flex;
  justify-content: center;
  width: 100%;
}

#th-centro {
  display: flex;
  justify-content: center;
  width: 30%;
}

#th-esquerda {
  display: flex;
  justify-content: center;
  width: 100%;
}

.separador-vertical {
  width: 1px;
  background-color: black;
  height: 95%;
}

.separador-horizontal {
  width: 85%;
  background-color: black;
  height: 1px;
}

#table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 2px #07cb65;
  border-radius: 5px;
}

.nomes-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nomes-alunos-table{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contatos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contatos-alunos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#Turma {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#tr-nome {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#tr-contatos {
  width: 100%;
}

#consulta {
  width: 100%;
  display: flex;
  justify-content: center;
}

#form {
  display: flex;
  flex-direction: column;
  width: 55%;
  min-width: 650px;
  margin-top: 25px;
}

#input-professor {
  border: none;
  border: solid 2px #2092c2;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  font-size: 18px;
  padding: 0 5px;
}

#input-data {
  border: none;
  border: solid 2px #2092c2;
  border-radius: 5px;
  height: 30px;
  width: 30%;
  font-size: 18px;
  padding: 0 5px;
}

#input-justificativa {
  font-family: "Poppins", sans-serif;
  resize: none;
  border: none;
  border: solid 2px #2092c2;
  border-radius: 5px;
  font-size: 18px;
  height: 200px;
  width: 100%;
  padding: 5px 5px;
  margin-bottom: 15px;
}

#input-arquivo {
  cursor: pointer;
  background-color: #ffffff;
  border: solid 2px #2092c2;
  height: 30px;
  width: 140px;
  border-radius: 5px;
}

#files {
  display: none;
}

#btn-enviar {
  cursor: pointer;
  border: none;
  border: solid 2px #2092c2;
  background-color: #2092c2;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  height: 30px;
  width: 140px;
}

#btns {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 865px) {
  #consulta {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #form {
    width: 85%;
    margin-top: 0;
    min-width: 650px;
  }

  input {
    width: 96%;
  }

  #input-professor {
    border: none;
    border: solid 2px #2092c2;
    border-radius: 5px;
    height: 30px;
    width: 96%;
    font-size: 18px;
    padding: 0 5px;
  }

  #input-data {
    border: none;
    border: solid 2px #2092c2;
    border-radius: 5px;
    height: 30px;
    width: 135px;
    font-size: 18px;
    padding: 0 5px;
  }

  #input-justificativa {
    font-family: "Poppins", sans-serif;
    resize: none;
    border: none;
    border: solid 2px #2092c2;
    border-radius: 5px;
    font-size: 18px;
    height: 200px;
    width: 96%;
    padding: 5px 5px;
    margin-bottom: 15px;
  }

  #titulo {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 700px) {
  #consulta {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 900px;
  }

  #form {
    width: 85%;
    min-width: 670px;
    margin-top: 0px;
    transform: scale(0.8);
    transform-origin: top;
  }

  #form p {
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  #consulta {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 800px;
  }

  #form {
    width: 85%;
    min-width: 650px;
    margin-top: 0px;
    transform: scale(0.67);
  }

  #form p {
    text-align: center;
  }

}

@media screen and (max-width: 470px) {
  #consulta {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 700px;
  }

  #form {
    width: 85%;
    min-width: 650px;
    margin-top: 0px;
    transform: scale(0.57);
  }

  #form p {
    text-align: center;
  }

}

@media screen and (max-width: 400px) {
  #consulta {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 600px;
  }

  #form {
    width: 85%;
    min-width: 650px;
    margin-top: -0px;
    transform: scale(0.5);
  }

  #form p {
    text-align: center;
  }

}
