/* Estilos gerais */
body {
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 2em;
}

/* Menu fixo */
nav {
    height: 50px;
    background-color: rgb(221, 161, 50);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Tabela padrão */
table {
    width: 90%; /* Reduzir largura para permitir margens laterais */
    margin: 5px auto; /* Centralizar a tabela e adicionar margens acima e abaixo */
    border-collapse: collapse;
    border: 5px solid rgb(221, 161, 50);
    border-radius: 10px;
    overflow: hidden;
}


table thead tr {
    background-color: rgb(221, 161, 50);
    color: white;
    text-align: left;
}

table thead th {
    padding: 15px;
    font-weight: bold;
    border-right: 1px solid #ddd;
}

table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

table tbody tr:hover {
    background-color: #e0e0e0;
}

table td, table th {
    padding: 12px 15px;
    border-right: 1px solid #ddd;
    text-align: left;
}

table tbody tr td:last-child, table thead tr th:last-child {
    border-right: none;
}

table tbody tr:last-child td {
    border-bottom: none;
}

table thead tr th:last-child {
    border-bottom: 1px solid #ddd;
}

/* Responsividade para telas menores */
@media screen and (max-width: 768px) {
    h1 {
        margin-top: 80px; /* Ajustar o título */
        font-size: 1.5em;
        padding: 10px;
    }

    /* Permitir rolagem horizontal para tabelas */
    table {
        display: block;
        overflow-x: auto; /* Habilitar barra de rolagem horizontal */
        white-space: nowrap; /* Impedir quebra de linhas dentro das células */
    }

    table thead tr {
        display: table-row; /* Manter o cabeçalho visível */
    }

    table tbody tr {
        display: table-row; /* Garantir a estrutura original da tabela */
    }

    table td, table th {
        text-align: left;
        font-size: 0.9em; /* Ajustar fonte para telas menores */
    }
}
